PORT=8000
DATABASE_URL=mongodb+srv://name:password@cluster0.yqmtelq.mongodb.net/Ride-Booking-System?appName=Cluster0
NODE_ENV=development
#JWT
JWT_ACCESS_SECRET=jwt_access_secret


# Bcrypt Salt Round
BCRYPT_SALT_ROUND=45