PORT=8000
DATABASE_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/demo-db
NODE_ENV=development
#JWT 
# JWT Access Token
JWT_ACCESS_SECRET=demo_access_secret
JWT_ACCESS_EXPIRED=5d

# JWT Refresh Token
JWT_REFRESH_SECRET=demo_refresh_secret
JWT_REFRESH_EXPIRES=30d

# Bcrypt Salt Round
BCRYPT_SALT_ROUND=10

# Super Admin Credentials
SUPER_ADMIN_EMAIL=demo@gmail.com
SUPER_ADMIN_PASSWORD=01786727749

# Google OAuth
GOOGLE_CLIENT_SECRET=your-google-client-id
GOOGLE_CLIENT_ID=your-google-client-password
GOOGLE_CALLBACK_URL=http://localhost:8000/api/v1/auth/google/callback
#Express Session
EXPRESS_SESSION_SECRET=your-google-session-secret

# Frontend URL
FRONT_END_URL=http://localhost:5173